PORT=5000

# Node environment (development / production)
NODE_ENV=development

# MongoDB Atlas
MONGO_URI=mongodb+srv://<db_username>:<db_password>@ac-bo3sazq-shard-00-00.aphiz6h.mongodb.net:27017,ac-bo3sazq-shard-00-01.aphiz6h.mongodb.net:27017,ac-bo3sazq-shard-00-02.aphiz6h.mongodb.net:27017/ecommerce_db?ssl=true&replicaSet=atlas-10elsx-shard-0&authSource=admin&appName=Cluster0

# Redis (Upstash)
REDIS_URL=rediss://default:<redis_token>@<redis_url>.upstash.io:6379

# JWT
ACCESS_TOKEN_SECRET=<your_access_token_secret>
REFRESH_TOKEN_SECRET=<your_refresh_token_secret>

# Cloudinary
CLOUDINARY_CLOUD_NAME=<your_cloud_name>
CLOUDINARY_API_KEY=<your_api_key>
CLOUDINARY_API_SECRET=<your_api_secret>

# Stripe
STRIPE_PUBLISHABLE_KEY=<your_stripe_publishable_key>
STRIPE_SECRET_KEY=<your_stripe_secret_key>

# Client URL (Vite dev server for local, Render URL for production)
CLIENT_URL=http://localhost:5173
