PORT=5000
MONGO_URI=mongodb+srv://<db_username>:<db_password>@ac-bo3sazq-shard-00-00.aphiz6h.mongodb.net:27017,ac-bo3sazq-shard-00-01.aphiz6h.mongodb.net:27017,ac-bo3sazq-shard-00-02.aphiz6h.mongodb.net:27017/ecommerce_db?ssl=true&replicaSet=atlas-10elsx-shard-0&authSource=admin&appName=Cluster0
